body {
  background-image: url("images/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  margin: 0;
  font-family: Arial;
  color: white;
  text-align: center;
  padding-top: 50px;
}
.wrapper {
  display: flex;
  align-items: flex-start; 
  justify-content: flex-start;
  gap: 50px;
  padding: 50px;
}

.me {
  width: 200px;        
  border-radius: 12px; 
  margin: 0;
}

button.show-button {
  display: inline-block;

}
.Menu button {
  width: 150px;         
  padding: 10px;        
  font-size: 16px;      
  text-align: center;   
  align-self: flex-start; 
}
.Menu button:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
  transition: background-color 0.3s;
}