body {
  background-image: url("images/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  margin: 0;
  font-family: Arial;
  color: white;
  
  padding-top: 50px;
}
.wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 50px; 
  padding: 30px;
}
.me {
  width: 200px;        
  border-radius: 12px; 
  margin: 0;
}

button.show-button {
  display: inline-block;

}
.Menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
}